  * {
    padding: 0;
    margin: 0;
  }

  html,
  body {
    overflow-x: hidden;

  }


  body {
    height: 100%;
    background: linear-gradient(135deg, #000428, #004e92) !important;
    /* background: white; */
    color: white;

  }